<div>
  <% if policy(@league).edit? %>
    <h2>League controls</h2>
    <div>
      <%= link_to "Edit League", edit_league_path %>
      <%= button_to "Delete League", league_path(@league), method: :delete%>
      <%= link_to "Invite new player", new_league_membership_path(@league) %>
    </div>

    <h2>Game controls</h2>
    <div>
      <%= link_to "Schedule Game", new_league_game_path(@league) %>
    </div>
  <% end %>
</div>
<h1><%= @league.name %></h1>
<div>Location: <%= @league.location %></div>
<div>Seasons count: <%= @league.seasons_count %></div>
<div>
  <%= link_to "Members: #{@league.memberships_count}", league_memberships_path(@league) %>
</div>

<div>
  <h2>Season Games</h2>
  <% @league.season_games.each do |game| %>
    <li><%= link_to game.date, game %></li>
  <% end %>
</div>