<div class="row">
  <% if policy(@league).edit? %>
    <div class="twelve columns league-buttons">
      <%= link_to "Edit League", edit_league_path, class: "button button-primary league-button" %>
      <%= link_to "Invite new player", new_league_membership_path(@league), class: "button button-primary league-button" %>
      <%= button_to "Delete League", league_path(@league), method: :delete, class: "league-button" %>
      <%= link_to "Schedule Game", new_league_game_path(@league), class: "button button-primary" %>
    </div>

  <% end %>
</div>
<h1><%= @league.name %></h1>
<hr>
<div>
  <p>Random bits of info about the league</p>
  <div>Location: <%= @league.location %></div>
  <div>Next scheduled game: <%= @league.next_scheduled_game %></div>
</div>
<hr>
<div class="row">
  <div class="season-games six columns">
    <h2>Season Games</h2>
    <% @league.season_games.each do |game| %>
      <li><%= link_to game.date, game %></li>
    <% end %>
    <h2>Non-season Games</h2>
    <% @league.games.each do |game| %>
      <li><%= link_to game.date, game %></li>
    <% end %>
  </div>
  <div class="seasons-list six columns">
    <h3>Seasons: <%= @league.seasons_count %></h3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>#</th>
          <th>Winner / Current Leader</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th># of Games</th>
        </tr>
      </thead>
      <tbody>
        <% @league.seasons.decorate.each.with_index(1) do |season, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= season.winner %></td>
          <td><%= season.start_date %></td>
          <td><%= season.end_date %></td>
          <td><%= season.games_count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div>
  <%= link_to "Members: #{@league.memberships_count}", league_memberships_path(@league) %>
</div>
